<html>
    <head>
        <meta charset="UTF-8">
        <style>
            div{
                width: 660px;
            }
            img, p{
                display:inline-block;
                width: 150px;
                height: 150px;
                margin: 5px;
                padding: 5px;
                box-sizing: border-box;
            }
        </style>
    </head>
    <body>
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Star_Ouro.gif/1200px-Star_Ouro.gif">
            <p>Lorem ipsum tristique tortor curae mi etiam pretium platea, fermentum torquent sem sapien nam malesuada scelerisque etiam ultricies, aliquam nibh proin lectus sollicitudin id tempus. at eleifend.</p>
            <img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Star_Ouro.gif/1200px-Star_Ouro.gif">
            <p>Auctor fusce condimentum ultricies taciti dapibus maecenas tincidunt fusce, quam viverra habitasse viverra lacus lacinia laoreet, vitae maecenas rhoncus interdum lectus aptent sociosqu.</p>
        </div>
    </body>
</html>