<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.submenu.visible {
  max-height: 500px; /* Defina a altura máxima desejada */
}

    </style>
</head>
<body>
    <button onclick="toggleSubMenu()">Clique para exibir o submenu</button>
    <ul class="submenu">
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>
    
      <script>
function toggleSubMenu() {
  var submenu = document.querySelector('.submenu');
  submenu.classList.toggle('visible');
}

      </script>
</body>
</html>